<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Date and time</title>
    <style>

        p,div{
            margin:0 auto;
            font-family: 'Courier New', Courier, monospace;
            border: 1px solid black;
            width: 300px;
            margin-top: 20px;
            text-align: center;
            padding: 10px;
        }

    </style>
  </head>
  <body>
    <p>The current time and date</p>
    <div>

      <h1>{{time}}</h1>
    </div>
  </body>
</html>
